/* BOTON ACTUALIZAR */

#actualizar {  
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

#actualizar::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

#actualizar::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

#actualizar::after,
#actualizar::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  animation: none;
  display: none;
}

#actualizar::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
  animation: ring 1.5s infinite;
}

#actualizar:active {
  transform: translateY(1.5px);
}

#actualizar:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

#actualizar:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .2) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px;
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button::after {
    content: '';
    width: 41px;
    height: 16px;
    border-radius: 100%;
    background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
    border: 6px;
    position: fixed;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}